{% extends 'tasm/list_base.html' %}
{% load tasm_tags %}
{% block filters %}
    <dl class="dl-horizontal">
    {% for filter,value in filters.items %}
        <dt>{{ filter|transcript_filter }}</dt><dd>{{ value }}</dd>
    {% endfor %}
    </dl>
{% endblock %}

{% block list_head %}
<table class="table table-striped table-bordered">
    <thead>
        <th>Locus ID</th>
        <th>Transcripts</th>
        <th>Best length</th>
        <th>Best coverage</th>
    </thead>

    <tbody>
{% endblock %}
        {% block list_body %}
            {% for locus in object_list %}
                {% include 'tasm/includes/locus.html' %}
            {% endfor %}
        
    </tbody>
</table>
{% endblock %}
